<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body>
    <h1 class="text-center">hello</h1>
    <p class="text-center font-bold">jfefji</p>
    <button class="m-auto bg-red-400">hfufwh</button>
  </body>
</html>
