<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body>
    <button id="downloadBtn">Download as PDF</button>
    <div class="flex items-center justify-center mt-5" id="resume">
      <div class="bg-blue-900 w-1/8 p-10 h-auto">
        <div class="flex items-center justify-center mb-10">
          <img
            src="<%= profilepic %>"
            alt=""
            class="rounded-full w-32 border-2 border-gray-300"
          />
        </div>
        <h1 class="text-gray-400 uppercase tracking-widest text-lg font-bold">
          Contact
        </h1>
        <hr class="w-1/6 mb-5" />
        <h1 class="text-gray-400 text-sm">loremipsum@gmail.com</h1>
        <h1 class="text-gray-400 text-sm">+12 456 455 7885</h1>
        <h1 class="text-gray-400 text-sm">Seoul, Korea</h1>
        <h1 class="text-gray-400 text-sm">www.loremipsum.com</h1>
        <hr class="my-5" />
        <h1
          class="text-gray-400 mt-2 uppercase tracking-widest text-lg font-bold"
        >
          EDUCATION
        </h1>
        <hr class="w-1/6 mb-5" />
        <h1
          class="text-gray-400 text-sm uppercase font-semibold tracking-wider"
        >
          Master of Science
        </h1>
        <h1 class="text-gray-500 text-sm">
          <span class="italic">University Name</span>,
          <span class="text-gray-400 font-semibold italic">New York</span> /
          2012-2013
        </h1>
        <br />
        <h1
          class="text-gray-400 text-sm uppercase font-semibold tracking-wider"
        >
          Bachelor of Arts
        </h1>
        <h1 class="text-gray-500 text-sm">
          <span class="italic">College Name Here</span>,
          <span class="text-gray-400 font-semibold italic">London</span> /
          2011-2012
        </h1>
        <hr class="my-5" />
        <h1
          class="text-gray-400 mt-2 uppercase tracking-widest text-lg font-bold"
        >
          SKILLS
        </h1>
        <hr class="w-1/6 mb-5" />
        <ul>
          <li class="text-gray-500 text-sm list-disc ml-4">Adobe Photoshop</li>
          <li class="text-gray-500 text-sm list-disc ml-4">
            Adobe Illustrator
          </li>
          <li class="text-gray-500 text-sm list-disc ml-4">
            Adobe After Effects
          </li>
          <li class="text-gray-500 text-sm list-disc ml-4">
            Microsoft Power Point
          </li>
          <li class="text-gray-500 text-sm list-disc ml-4">Microsoft Word</li>
          <li class="text-gray-500 text-sm list-disc ml-4 mb-1">
            Adobe InDesign
          </li>
        </ul>
      </div>

      <div class="bg-white w-7/12 p-10 h-auto">
        <h1 class="text-gray-500">
          A resourceful individual with a proven track record in implementing
          successful marketing strategies, boosting organic traffic, and
          improving search rankings seeks a position of Marketing Associate at
          ABC company to maximize brand awareness and revenue through integrated
          marketing communications.
        </h1>
        <h1 class="font-semibold uppercase tracking-wider my-6 text-gray-500">
          Experience
        </h1>
        <h1 class="text-gray-600 font-semibold"><%= name %></h1>
        <ul class="list-disc ml-5 text-gray-500">
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        </ul>
        <h1 class="text-gray-600 font-semibold mt-3">
          Sr Developer (2016 - 2-18)
        </h1>
        <ul class="list-disc ml-5 text-gray-500">
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        </ul>
        <h1 class="text-gray-600 font-semibold mt-3">
          Sr Developer (2016 - 2-18)
        </h1>
        <ul class="list-disc ml-5 text-gray-500">
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        </ul>
        <h1 class="text-gray-600 font-semibold mt-3">
          Sr Developer (2016 - 2-18)
        </h1>
        <ul class="list-disc ml-5 text-gray-500">
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        </ul>
        <h1 class="text-gray-600 font-semibold mt-3">
          Sr Developer (2016 - 2-18)
        </h1>
        <ul class="list-disc ml-5 text-gray-500">
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        </ul>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
      integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script>
      window.onload = function () {
        const btn = document.getElementById("downloadBtn");
        btn.addEventListener("click", () => {
          const resume = this.document.getElementById("resume");

          const options = {
            filename: "resume.pdf",
            image: { type: "jpeg", quality: 0.98 },
            jsPDF: { format: "letter", orientation: "landscape" },
          };
          html2pdf().from(resume).set(options).save();
        });
      };
    </script>
  </body>
</html>
